<h1>Spotilytics</h1>

<p class="flash flash-alert"><%= alert %></p>
<p class="flash flash-notice"><%= notice %></p>

<% if current_user %>
  <p>Logged in as <strong><%= current_user['display_name'] || current_user['email'] %></strong></p>
  <%= button_to "Log out", logout_path, method: :delete, class: "btn btn-secondary" %>
<% else %>
  <%= link_to "Sign in with Spotify", "/auth/spotify", class: "btn btn-primary" %>
<% end %>